<ion-header>
  <ion-toolbar>
    <ion-title>Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="flexbox-column">
    <ion-input class="placeholder-size" placeholder = "Adresse Mail"></ion-input>
    <ion-input class="placeholder-size" placeholder = "Mot de Passe"></ion-input>
    <ion-button class="signin-bouton">Me connecter</ion-button>
</div>


  <div class="signin">
    <ion-button class="facebook">
      <ion-icon style="margin-right : 20px;" name="logo-facebook"></ion-icon>Continuer avec Facebook
    </ion-button>
    <ion-button class="google">
      <ion-icon style="margin-right : 20px;" name="logo-google"></ion-icon>Continuer avec Gmail
    </ion-button>

    <p>ou</p>

    <p><a routerLink="/inscription">Continuer avec une adresse mail</a></p>

  </div>




</ion-content>
