<ion-header>
  <ion-toolbar>
    <ion-title>Mon Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="login">
    <ion-button class="facebook">
      <ion-icon style="margin-right : 20px;" name="logo-facebook"></ion-icon>Continuer avec Facebook
    </ion-button>
    <ion-button class="google">
      <ion-icon style="margin-right : 20px;" name="logo-google"></ion-icon>Continuer avec Gmail
    </ion-button>

  <p>ou</p>

  <p><a routerLink ="/inscription">Continuer avec une adresse mail</a></p>

  </div>




</ion-content>
