<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" size="small" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>La Carte</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/search">
        <ion-icon color="secondary" size="small" slot="icon-only" name="search-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flexbox-column">
  <ion-button routerLink="/entrees" >ENTREES</ion-button>
  <ion-button routerLink="/pizza">PIZZAS</ion-button>
  <ion-button routerLink="/wok">WOK</ion-button>
  <ion-button routerLink="/lafas">LAFAS</ion-button>
  <ion-button routerLink="/burger">BURGERS</ion-button>
  <ion-button routerLink="/dessert">DESSERTS</ion-button>
  </div>

</ion-content>


