ion-content{
    --background: #fff9f9;
}

ion-toolbar:last-of-type{
    --border-width : 0 0 0;
    --background : #fff9f9;
}

ion-title{
    letter-spacing : .5px;
    color :#290618;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0;
}

.flexbox-column{
    display : var(--div-display);
    justify-content: var(--div-justify-content);
    align-items: var(--div-align-items);
    flex-direction: var(--div-flex-direction-column);
    margin-top : 30px;

}

.bouton-menu{
    width : 90%;
    --border-radius : 2px;
    border : none;
    --background : #290618;
    margin : 9px;
    letter-spacing : .5px;
    font-weight : 500;
    font-size : 14px;
}

ion-back-button{
    font-size :12px;
    margin-left : 20px;
  }

  .search-icon{
      margin : 20px;
      font-size :12px;
      color : #290618;
  }


  /** SLIDES **/

  ion-slides{
      margin-top : 1rem;
  }

  ion-slide{
      display : flex;
      justify-content : center;
      flex-direction : row;
      align-items: center;
      align-content : center;
      --width : 75px;
  }

  ion-segment{
      display: flex;
      margin : auto;
      flex-direction: column;
      align-items : center;
      padding : 15px 15px;
      width : 100px;
      border-radius : 50px;
      font-size : 12px;
      --background : #290618;
      color : #FFF9F9;
  }

  ion-slide ion-segment ion-icon{
      font-size : 24px;
      margin-bottom : 5px;
  }