 ion-content {
   --background: #fff9f9;
 }

 ion-toolbar:last-of-type {
   --border-width: 0 0 0;
   --background: #fff9f9;
 }

 ion-item {
   --background: rgba(248, 248, 250, .96);

   h2 {
     font-weight: bold;
     font-size: 18px;
     padding-top: 8px;
   }

 }

 ion-buttons{
   margin: 18px 10px 0 0;
 }

 ion-title{
   letter-spacing : .5px;
   color : #290618;
   margin-top : 9px;
 }


 .placeholder-size{
  color:#b8acac;
  font-size : 15px;
  padding-left :0;
  padding-right :0;
  width : 100%;
}

.placeholder-size input{
  padding-left : 10px;
}


 ion-searchbar {
   --box-shadow: none;
   --border-radius: 2px;
   height : 40px;
 }

 ion-searchbar > icon{
   color : #b8acac
 }

 .more {
   font-size: 12px;
   color: #FB4E4E;
 }

 .title {
   font-size: 16px;
 }

 .card {
   margin: 0;
   margin-right: 50px;
   width: 80%;
   box-shadow: none;
   border-radius: 2px;
 }


 .category {
   display: flex;
   box-shadow: none;
   border-radius: 2px;
 }


 ion-card-content {
   .img-wrapper {
     border-radius: 2px;
     height: 200px;
     overflow: hidden;
     margin-bottom: 8px;
   }

   ion-icon {
     color: #f2994a;
     padding-right: 4px;
   }

   ion-card-subtitle:last-of-type {
     padding-top: 6px;
   }

 }

 ion-card-header {
   ion-icon {
     font-size: 60px;
   }

   ion-card-title {
     font-size: 22px;
     font-weight: bolder;
   }
 }

 .wrapper {
   padding-bottom: 0;
 }

 ion-badge {
   padding: 10px;
   font-size: 14px;
 }

 ion-row {
   align-items: baseline;
 }

 ion-slides {
   display: flex;
   --overflow: visible;
 }

 ion-segment {
   height: 10vh;
   border-radius: 50px;
   color : #290618;
 }

 .segment-gauche{
   --border-radius : 50px 0 0 50px;
   --color : #290618;
 }

 .segment-droit{
  --border-radius : 0 50px 50px 0;
  --color : #290618;
}