ion-toolbar:last-of-type {
  --border-width: 0 0 0;
  --background: none;
}

.logo {
  /*height: var(--logo-homeselect-height);*/
  margin-top: var(--logo-homeselect-margin-top);
  position : absolute;
  top : 60px;
  left : 50%;
}

ion-title{
  width : 50%;
}

ion-buttons{
  position : absolute;
  top : 60px;
  left : 75%;
}

.background {
  --background: url('../../assets/img/bg.jpg');
}

ion-item {
  margin: var(--ion-item-margin);
  width : 90%;
}

.flexbox-column {
  display: var(--div-display);
  justify-content: var(--div-justify-content);
  align-items: var(--div-align-items);
  flex-direction: var(--div-flex-direction-column);
  position : var(--div-position);
  top : var(--div-position-top);
}

.flexbox-row {
    display: var(--div-display);
    justify-content: var(--div-justify-content);
    align-items: var(--div-align-items);
    flex-direction: var(--div-flex-direction-row);
    position : var(--div-position);
    top : var(--div-position-top-choice);
  }

.order-bouton {
  width : 90%;
  --border-radius :2px;
  border : none;
  --background : #290618;
  margin : 9px;
  letter-spacing : .5px;
  font-weight : 500;
  font-size : 14px;
}

.placeholder-size{
  --padding-start : 20px;
  color : #290618;
  font-size : 15px;
}

.flexbox-column ion-item ion-icon{
color : #b8acac;
}