<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-sharp"></ion-back-button>
    </ion-buttons>
    <ion-title>Nos Entrées</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>

      <div class="image-salade">
        <img class="img-class" src="../../assets/img/salade.jpg" alt=""></div>
      <div class="repas">
        <ion-card-title>Salade Niçoise</ion-card-title>
        <ion-card-subtitle>Oeufs, Lardons, Croutons</ion-card-subtitle>
        <ion-card-subtitle class="price">16€</ion-card-subtitle>
      </div>

    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>

      <div class="image-salade">
        <img class="img-class" src="../../assets/img/salade-cesar.jpg" alt=""></div>
      <div class="repas">
        <ion-card-title>Salade César</ion-card-title>
        <ion-card-subtitle>Oeufs, Lardons, Croutons</ion-card-subtitle>
      </div>

    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>

      <div class="image-salade">
        <img class="img-class" src="../../assets/img/salade.jpg" alt=""></div>
      <div class="repas">
        <ion-card-title>Salade Niçoise</ion-card-title>
        <ion-card-subtitle>Oeufs, Lardons, Croutons</ion-card-subtitle>
      </div>

    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>

      <div class="image-salade">
        <img class="img-class" src="../../assets/img/salade-cesar.jpg" alt=""></div>
      <div class="repas">
        <ion-card-title>Salade Niçoise</ion-card-title>
        <ion-card-subtitle>Oeufs, Lardons, Croutons</ion-card-subtitle>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>
